.outerDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 50px 50px 50px;
    margin:50px
}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.message{
    color: red;
}

@media (max-width: 900px) {
    .outerDiv {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .outerDiv {
        width: 80%;
    }
}

form {
    width: 100%;
}