.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow : scroll;
    padding: 2%;
}

.mainContainer::-webkit-scrollbar {
    display: none;
}

.rowContent{
    display: flex;
    flex-direction: row;
}

.emailContent{
    min-width: 200px;
}

.action{
    display: flex;
    height: 60px;
    padding: 10px;
    width: 150px;
    justify-content: center;
    border: 1px solid rgb(208, 208, 209);
}

#icon{
    padding: 0px 20px;
    cursor: pointer;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
}

.status_dropdown{
    display: flex;
    width: 50%;
    justify-content: right;
}

.menu_bar{
    display: flex;
    width: 80%;
}

#actions_arrow{
    position: absolute;
    left: 48%;
    font-size: 30px;
    bottom: 1cqi;
}

#action_icon{
    margin: 10px;
    color: #174c6b;
    cursor: pointer;
}

#action_icon:hover{
    color: #3c8dbc;
}


#disable_action_icon{
    margin: 10px;
    color: #7c7878;
    cursor: default;
}

#disable_action_icon :hover{
    margin: 10px;
    color: #c5c0c0;
    cursor: default;
}

#active{
    background-color: gray;
    color: white;
}

