.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    width: 100%;
}

.mainContainer::-webkit-scrollbar {
    display: none;
}

.rowContent {
    display: flex;
    flex-direction: row;
}

.emailContent {
    min-width: 200px;
}

.action {
    display: flex;
    height: 60px;
    padding: 10px;
    width: 150px;
    justify-content: center;
    border: 1px solid rgb(208, 208, 209);
}

#icon {
    padding: 0px 20px;
    cursor: pointer;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: left;
}

.status_dropdown {
    display: flex;
    justify-content: space-between;
}

.menu_bar {
    display: flex;
    padding-top: 1.5rem;
    width: 100%;
    justify-content: space-around;
}

.menuOuterDiv{
    display: flex;
    justify-content: center;
}

.heading {
    margin: 0px 30px;
    text-decoration: underline;

}

#active {
    font-weight: bolder;
    background-color: rgb(170, 167, 167);
    color: #fff;
}

.outerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_button {
    padding: 10px 28px;
    border: 1px solid rgb(124, 121, 121);
    font-weight: bolder;

}

.menu_button:hover {
    cursor: pointer;
}

.Label{
    font-size: large;
    font-weight: 700;
    padding: 10px 10px;
    align-items: center;
}

