.ticketContent {

    /* position: relative; */
    height: 80%;
    padding: 0px 40px;
    width: 100%;
    overflow-y: scroll;
}

.ticketContent::-webkit-scrollbar {
    display: none;
  }
  

.mainContainer {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    width: 100%;
    overflow: hidden;
    height: 100%;

}

.ticketContainer{
    width: 50%;
}

.commentsContainer {
    position: relative;
    width: 50%;
    height: 80%;
    justify-content: baseline;
    align-items: flex-end;
    overflow-y: scroll;
    padding-left: 50px;
    padding-right: 10px;
    border-left: 1px solid rgb(226, 223, 223);
}

.commentContent{
    display: inline-block;
    background-color: #e2dddd;
    border : 1px solid black;
    border-radius: 10px 10px 0px 10px;
    padding: 10px;
    margin: 12px 0px;
    align-self: flex-end;
    width: 100%;
    word-break: break-all;
}

.outerDiv {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 90%;
    background-color: #fff;
    justify-content: space-between;
    border-radius: 10px;
}

.heading {
    display: flex;
    min-height: 50px;
    width: 100%;
    background-color: #737374;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    text-align: right;
    color: #fff;
}

label{
    font-weight: bolder;
    margin-right: 30px;
    min-width: 100px;
}

.ticketData{
    display: flex;
}

.commentBox{
    position: fixed;
    bottom: 0;
    width: 40%;
    margin-bottom: 5%;
}

#icon_close{
    cursor: pointer;
    width: 50%;
    float: right;
    padding: 10px;
}

h3{
    width: 60%;
}

p{
    margin: 0px;
}

.date{
    font-size: 13px;
    opacity: 0.8;
    padding: 0px;
    float: right;
}

.userName{
    padding: 0px;
    font-weight: bolder;
    /* font-size: larger; */
}

.description{
    padding: 0px;
}