.outerDiv{
        height: fit-content;
        width: 37%;
        border: 0.2px solid black;
        padding: 0px 40px 40px 40px;
        background-color: rgb(240, 240, 240);
        border-radius: 0px 0px 5px 5px;
        box-shadow: 20px 20px 10px grey;
}

.heading{
    background-color: #0A2647;
    color: #fff;
    margin: 0px !important;
    width: 37%;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    align-items: center;
}