.outerDiv{
        height: fit-content;
        width: 37%;
        border: 0.2px solid black;
        padding: 0px 40px 40px 40px;
        background-color: rgb(240, 240, 240);
        border-radius: 0px 0px 5px 5px;
}

.heading{
    background-color: #174c6b;
    color: #fff;
    margin: 0px !important;
    width: 37%;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
}

#icon_close{
    cursor: pointer;
    float: right;
    padding-right: 20px;
}