
.main_body {
    position: absolute;
    top: 15%;
    left: 33%;
    background-color: #fff;
    width: 33%;
    padding: 70px 40px;
    border-radius: 10px;
    opacity: 0.;
    background-image: url('/public/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.heading{
    /* background: rgba(248, 247, 247, 0.5); */
    padding-top: 15px;
    text-align: center;
    align-items: center;
}



input[type=submit] {
    width: 100%;
    background-color: #0A2647;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
}

input[type=submit]:hover {
    background-color: #205295;
    opacity: 0.9;
}


.message{
    height: 25px;
    opacity: 1;
    color: red;
}



@media (max-width: 600px) {
    .main_body {
        width: 80%;
        left: 10%;
    }
}


@media (max-width : 400px) {
    .main_body {
        width: 100%;
        top: 0%;
        left: 0%;
        height: 100vh;
    }
}