.mainContainer{
  padding-top: 60px;
}

.App{
  background-color:  #F5F5F5;
  min-height: 100vh;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(236, 234, 234);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #868686;  
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666664; 
}
