.outerDiv {
    display: flex;
    height: 100%;
}

.sideBar {
    width: 20%;
    background-color: #b6b2b2;
    min-height: 100vh;
}

.mainContainer {
    width: 80%;
    overflow-y: scroll;
}

.menuItems {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    text-align: left;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.menuItems.active {
    background-color: white;
    color: black;
}

#icon {
    float: right;
    padding-top: 6px;
}

