.btnContainer{
    width: 100%;
    background-color: #0e415e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
}

.btnContainer:hover{
    background-color: #3c8dbc;
    opacity: 0.9;
}

.disableBtn{
    background-color: rgb(190, 190, 190);
}

.deleteBtn{
    background-color: #c70000;
}