.reg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    height: 100vh;
}

.reg-content{
    height: fit-content;
    width: 50%;
    border: 0.2px solid black;
    padding: 0px 40px 40px 40px;
    background-color: rgb(240, 240, 240);
    border-radius: 0px 0px 5px 5px;
    box-shadow: 20px 20px 10px grey;
}

.form-container{
    display: flex;
}

.input-label{
    width: 30%;
    padding: 20px 0px 0px 20px;
    
}

.input-content{
    width: 65%;
}

.heading{
    background-color: #0A2647;
    color: #fff;
    margin: 0px !important;
    width: 50%;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    align-items: center;
}