
.InputElement {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 13px 0px;
    margin-bottom: 5px;
    background-color: white;
    font: inherit;
    padding: 8px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}


.label-container{
    padding: 0px;
    margin-bottom: 0px;
}

.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}


.InputElement:focus {
    outline: none;
    background-color: #ccc;
}


.errorMessage{
    min-height: 15px;
    color: rgb(197, 45, 45);
    margin-top: 0px;
    margin-bottom: 5px;
}