.InputElement {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font: inherit;
    padding: 8px 10px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    width: 100%
}


.label-container {
    padding: 0px;
    margin-bottom: 0px;
}

.Input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
}

.Label {
    display: flex;
    text-align: left;
    align-items: center;
    font-weight: bold;
    width: 35%;
    font-size: large;
}

.headLabel{
    text-align: left;
    font-size: large;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}


.InputElement:focus {
    outline: none;
    background-color: #ccc;
}


.errorMessage {
    /* min-height: 10px; */
    color: rgb(197, 45, 45);
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 15px;
}

.outerDiv{
    text-align: right;
}

.mandatory{
    color: red;
    margin-right: 5px;
}

@media (max-width: 900px) {
    .Input{
        display: inline;
    }

    .Label{
        width: 100%;
    }
}

@media (min-width : 900px) and (max-width: 1200px)  { 

    .Label{
        width: 43%;
    }
}