.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_body {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 50%;
    padding: 70px 60px;
    border-radius: 10px;
    opacity: 0.;
    background-image: url('/public/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.login-heading{
    padding-top: 15px;
    text-align: center;
    align-items: center;
}

.message{
    height: 25px;
    opacity: 1;
    color: red;
}



@media (max-width: 600px) {
    .main_body {
        width: 80%;
        left: 10%;
    }
}


@media (max-width : 400px) {
    .main_body {
        width: 100%;
        top: 0%;
        left: 0%;
        height: 100vh;
    }
}