.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_body {
    width: 60%;
}

.login-heading{
    padding: 15px;
    text-align: center;
    align-items: center;
    margin: 0px;
}

.message{
    height: 25px;
    opacity: 1;
    color: red;
}



@media (max-width: 600px) {
    .main_body {
        width: 80%;
        left: 10%;
    }
}


@media (max-width : 400px) {
    .main_body {
        width: 100%;
        top: 0%;
        left: 0%;
        height: 100vh;
    }
}
