.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.loginHeading{
    padding: 15px;
    text-align: center;
    align-items: center;
    margin: 0px;
}

.contentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43%;
}

@media (max-width: 970px) {
    .contentContainer{
        width: 60%;
    }
}

@media (max-width: 600px) {
    .contentContainer{
        width: 90%;
    }
}
