dialog::backdrop{
    background-color: black;
}

.outerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 90vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.close{
    width: 100px;
    opacity: 1;
}

.content{
    opacity: 1;
    background-color: white;
    height: fit-content;
    width: 40%;
    padding: 40px;
    border: 2px solid black;
    border-radius: 5px;
}
