/* .list_main_container{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    overflow-x: hidden;
    overflow-y: scroll;
}

table{
    min-width: 80%;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#list_content td, #list_content th{
    padding: 4px;
    padding-top: 10px;
    text-align: center;
}

#list_content th{
    padding: 14px 2px 12px 2px;
    text-align: center;
    background-color: #266183;
    color: #fff;
}

#list_content tr:nth-child(even){
    background-color: #fff;
}

#list_content tr:nth-child(odd){
    background-color: #e2dddd;
}

#list_content tr:hover{
    background-color: #c5c0c0;
}

#icon{
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#actions_arrow{
    position: absolute;
    left: 48%;
    font-size: 30px;
    bottom: 1cqi;
}

#action_icon{
    margin: 10px;
    color: #174c6b;
    cursor: pointer;
}

#action_icon:hover{
    color: #3c8dbc;
}


#disable_action_icon{
    margin: 10px;
    color: #7c7878;
    cursor: default;
}

#disable_action_icon :hover{
    margin: 10px;
    color: #c5c0c0;
    cursor: default;
}

#active{
    background-color: gray;
    color: white;
}

.menu_button{
    border: 1px solid #c5c0c0;
    padding: 6px;
}

.list_heading{
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: larger;
    padding-top: 20px;
}



.status{
    display: flex;
}
 */
